/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Yeseva+One&display=swap');
body {
  font-family: 'Poppins', serif;
}
body h1,
p {
  margin: 0;
}
.flexiable-container {
  display: flex;
  margin: 0 auto;
}
.half-width {
  width: 50%;
}
.container {
  width: 80%;
}
.highlite {
  color: #ffad5a;
}
.gap {
  gap: 60px;
}
.padding-y {
  padding: 100px 0;
}
/* Header Seciton CSS */
.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.content-area h1 {
  font-family: 'Yeseva one';
  font-size: 60px;
  font-weight: 400;
  border-left: 4px solid #ff5959;
  padding-left: 15px;
}

.content-area p {
  font-size: 18px;
}
.button a {
  background-color: #ff5959;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
header .avatar {
  text-align: center;
}
.avatar img {
  width: 60%;
}

/* Mission Section CSS */
.mission {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
}
.mission h1 {
  font-size: 40px;
  text-align: center;
}
.mission .items {
  display: flex;
  gap: 20px;
  /* width: 100%; */
}
.items .item {
  border-radius: 20px;
  padding: 30px;
}
.items .item img {
  width: 150px;
}
#item1 {
  background-color: #4f9da61a;
}
#item2 {
  background-color: #ff8b591a;
}
#item3 {
  background-color: #fff4d6;
}
#item1:hover {
  background-color: #4f9da672;
}
#item2:hover {
  background-color: #a3664c1a;
}
#item3:hover {
  background-color: #d6bb72;
}
/* Develop without limites */
.developer {
  background-image: url(images/shape-1.png),
    url(images/Group\ 57403.svg);
  background-size: 15%, 8%;
  background-repeat: no-repeat;
  background-position: left center, left bottom;
}
.developer img {
  width: 100%;
}
.developer .third-half {
  width: 70%;
}
.developer h1 {
  font-size: 36px;
}
.developer a {
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 5px;
}
.developer .box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
/* community */
.reverse {
 flex-direction: row-reverse;
}
.Community img {
  width: 100%;
}
.Community h1 {
  font-size: 36px;
}
.Community a {
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 5px;
}
.Community a:hover {
  background-color: #aa3636;
}
.Community {
  background-image: url(images/shape-1.png);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.Community .box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}